# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.netbeans/
*.orig

# Java-specific
*.class
*.log
*.jar
*.war
*.ear

# OS specific
.DS_Store
Thumbs.db

# IntelliJ IDEA (if used)
.idea/
*.iml
out/

# Others
target/
*.swp
*.bak
